<!DOCTYPE HTML5>
<html>
<head>
	<title>TCC</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script>
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}</script>

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
					<div id="sidebar" class="well sidebar-nav">
						<h5><i class="glyphicon glyphicon-pencil"></i>
							<small><b>GERENCIAMENTO</b></small>
						</h5>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Segurado</a></li>
							<li class="active"><a href="#">Pet</a></li>
							<li><a href="#">Pesquisar</a></li>
						</ul>
						<h5><i class="glyphicon glyphicon-user"></i>
							<small><b>PERFIL</b></small>
						</h5>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Configuração</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<!-- Content Here -->
				</div>
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-list"> Lista</span>
							<div class="pull-right action-buttons">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
									</button>
									<ul class="dropdown-menu slidedown">
										<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
										<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
										<li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-group" >
								{itens}
							</ul>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-6">
									<h6>
										Itens Totais <span class="label label-info">{itens_totais}</span></h6>
									</div>
									<div class="col-md-6">
										<ul class="pagination pagination-sm pull-right">
											<!-- <li class="disabled"><a href="javascript:void(0)">«</a></li> -->
											<li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
											<!-- <li><a href="http://www.jquery2dotnet.com">2</a></li>
											<li><a href="http://www.jquery2dotnet.com">3</a></li>
											<li><a href="http://www.jquery2dotnet.com">4</a></li>
											<li><a href="http://www.jquery2dotnet.com">5</a></li>
											<li><a href="javascript:void(0)">»</a></li> -->
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
</html>