<!DOCTYPE HTML5>
<html>
	<head>
		<title>TCC</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="stylesheet" href="../static/css/lib/reset.css">
		<link rel="stylesheet" href="../static/css/caixa_de_entrada.css">
		<script>
  		if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }</script>
	</head>
	
	<body>
		<div id="opcs">
			<a type="button" class="entrada" href="/logout"> 
				Logout
			</a>
			<a type="button" class="entrada" href="/saude_pessoal"> 
				Agendamentos
			</a>
			<a type="button" class="entrada" href="/pet"> 
				Emergências
			</a>
		</div>
		<div id="valores">
			

		</div>

	</body>
</html>